 $text-color: null;
$base-color: #636363;
$icon-color: null;
$highlight-color: null;
$notification-color: null;
$body-background: #000000;
$link: null;
$link-focus: null;
$action-color: null;
$button-color: #ff8500;
$form-checked: null;
$menu-text: null;
$menu-icon: null;
$menu-background: null;
$menu-highlight-text: #050505;
$menu-highlight-icon: null;
$menu-highlight-background: #ff8500;
$menu-current-text: null;
$menu-current-icon: null;
$menu-current-background: #ff8500;
$menu-submenu-text: #ffffff;
$menu-submenu-background: #ff8500;
$menu-submenu-background-alt: null;
$menu-submenu-focus-text: #1c1a1c;
$menu-submenu-current-text: #000000;
$menu-bubble-text: null;
$menu-bubble-background: null;
$menu-bubble-current-text: null;
$menu-bubble-current-background: null;
$menu-collapse-text: null;
$menu-collapse-icon: null;
$menu-collapse-focus-text: null;
$menu-collapse-focus-icon: null;
$adminbar-avatar-frame: null;
$adminbar-input-background: null;
$menu-customizer-text: null;
$secondary-button-color: #000000;
